@font-face {
    font-family: GreatVibes;
    src: url("./assets/fonts/Great_Vibes/GreatVibes-Regular.ttf");
}

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'GreatVibes';
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

.nav-list {
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    color: black;
    font-size: 20px;
}

.nav-link:hover {
    color: black;
}

.section-item a {
    color: #829985;
    text-decoration: none;
    transition: color 0.5s;
}

.section-item a:hover {
    color: #4d2323;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2rem;

}

main>section {
    width: 33%;
    padding: 20px 60px;
}

@media (max-width: 768px) {
    main>section {
        width: 100%;
    }
}

header {
    background-color: #bad1cdbd;
    color: #000000;
    /* padding: 0rem 1rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0 2rem;
}

.nav-link {
    /* color: rgb(245, 245, 245); */
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    margin: 0;
}



.section-item {
    position: relative;
    padding-left: 30px;
}

.section-item::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 10px;
    height: 10px;
    border: 1px solid #829985;
    border-radius: 50%;
}


@counter-style marker-emoji {
    system: cyclic;
    symbols: "🍋" "🍎" "🍒";
    suffix: " ";
}

.markers {
    margin: 0 0 20px 24px;
    padding: 0;
    list-style-type: marker-emoji;
}

.avatar {
    border-radius: 70%;
    width: 300px;
    /* height: 300px; */
    margin-right: 20px;
    border: 1px solid #829985;
    padding: 5px;
    aspect-ratio: 1/1;
}



header a {
    text-decoration: none;
}

.avatar-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 70px;
}

.avatar-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.avatar-text h1,
.avatar-text p {
    padding: 0;
    margin: 0;
}

.avatar-text p {
    font-weight: 300;
    text-transform: uppercase;
}

footer {
    /* border: 1px solid #829985; */
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
    background-color: #bad1cd91;
}

hr {
    border: 0.5px solid #829985;
    width: 100%;
    margin: 0 0.2rem;
}

#avatar {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    justify-content: center;
}

.avatar-box {
    /* max-width: 40%; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}